:root {
    --dimentio-purble: #ab64ad;
    --darker-purble: #782f7a;
    --general-text: lavender;
    --alt-text: pink;
    --nav-text: rgb(249, 255, 231);
    --lighter-alt-text: rgb(255, 251, 211);
    --logo-blue: #5e57c7;
    --darker-blue: #1f2d69;
    --bright-yellow: #ffff97;
    --lighter-blue: #ab64ad;
    --highlight: #fff;
    accent-color: #1D4ED8;
    accent-color: var(--logo-blue);
}

.container {
    width: 1000px;
}

body {
    background-color: black;
    background-image: url('https://raw.githubusercontent.com/olicauli/spacehey-template/main/assets/animatedstars.gif');
    font-family:'Courier New', Courier, monospace;
    font-size: larger;
}

main, footer {
    background: transparent;
    color: var(--general-text);
}

nav 
{
    color: var(--bright-yellow);
    letter-spacing: 0.2rem;
}

nav .top 
{
    box-sizing: content-box;
    background: transparent;
    border-color: var(--logo-blue);
    border-style:double;
    border-radius: 10px;
    font-size: large;
    align-items: center;
    margin: 10px 0px;
}

nav .top .right a, nav .logout-btn
{
    font-size: small;
    text-shadow: 0 0 10px var(--nav-text);
}

button, input {
    background-color: var(--bright-yellow);
    color: var(--dimentio-purble);
    border-radius: 10px;
}

input:focus
{
    box-shadow: 0 0 20px var(--highlight);
}

#q 
{
    border-radius: 10% 0% 10% 0%;
}



nav .links 
{
    border-radius: 10px;
    background: linear-gradient(180deg, var(--dimentio-purble), var(--logo-blue));
    text-align: center;
    font-size: large;
}

nav .links a, nav .top a, nav .logout-btn
{
    color:var(--nav-text)
}

nav .links li:not(:last-child)::after
{
    content: " * ";
    font-size: small;
    color: var(--alt-text);
}

nav .links a:hover
{
    color: white;
    text-decoration: none;
    text-shadow: 0 0 10px var(--nav-text);
}

nav .links .special a
{
    color: var(--nav-text);
}

ul
{
    list-style: none;
    margin-left: -20px;
}

.table-section li 
{
    font-style: italic;
    color: pink;
    display: inline-block;
    margin: 0px;
}

.table-section li::before
{
    display: inline-block;
    height: 22px;
    width: 22px;
    margin-left: -6px;
    content: "";
    background: url(assets/li.gif);
    background-size: 100%;
    color:pink;
    margin-top: -5px;
}

.table-section .details-table td:last-child ul
{
    display: inline;
}

.col.w-50 
{
    margin: 20px 0px 20px 0px;
    width:30%;
}

a:hover, nav .top a:hover, .logout-btn:hover
{
    color: var(--highlight);
    font-style: italic;
    text-decoration-line: none;
    text-decoration: none;
    text-shadow: 0 0 10px var(--highlight);
}

.details p:first-child
{
    font-style: italic;
    color: var(--bright-yellow);
}

.blog-preview h4, .profile .blurbs .section h4 
{
    color: var(--bright-yellow);
    font-style: italic;
    text-align: center;
    font-weight: normal;
    letter-spacing: 0.1rem;
}

.profile h1 
{
    font-style: italic;
    font-size: 3em;
    text-align: center;
    color: var(--bright-yellow);
    background: linear-gradient(to right, #ffff97, #5e57c7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.profile-info .inner
{
    letter-spacing: 0.5rem;
}

.profile h1::before
{
    content: "~*";
}

.profile h1::after
{
    content: "*~";
}

.profile .contact,
.profile .table-section,
.setting-sections, .home-actions 
{
    border: hidden;
}

.profile .contact .heading, 
.profile .contact .heading, 
.profile .table-section .heading, 
.setting-section .heading, 
.home-actions .heading, .profile .blurbs .heading, .profile .friends .heading,
.profile .contact .heading, .profile .table-section .heading
{
    background: var(--dimentio-purble);
    border-radius: 10px;
    background: linear-gradient(180deg, var(--dimentio-purble), var(--logo-blue));
    color: var(--highlight);
    letter-spacing: 0.5rem;
}

.profile .contact .heading::before, 
.profile .contact .heading::before, 
.profile .table-section .heading::before, 
.setting-section .heading::before, 
.home-actions .heading::before, .profile .blurbs .heading::before,
 .profile .friends .heading::before,
.profile .contact .heading::before, 
.profile .table-section .heading::before
{
    content: "* ";
    color: pink;
}

.profile .friends .heading a.more 
{
    letter-spacing: normal;
}

.details-table td {
    background-color: transparent;
}

.details-table td:first-child,
.comments-table td:first-child 
 {
    background-color: #5e57c7;
    background: linear-gradient(180deg, var(--logo-blue), var(--darker-blue));
    letter-spacing: 0.2rem;
    text-align: center;
    border-radius: 10px;
    height:50%;
    color: var(--general-text);
}

.comments-table td:first-child
{
    border-radius: 20% 0px 20% 0px;
}

.table-section:not(:last-child) .details-table td:first-child
{
    font-style: italic;
    color: transparent !important;
    text-shadow: none !important;
    letter-spacing: -100px;
}

.table-section:not(:last-child) .details-table tr:nth-child(1) 
td:first-child p::after
{
    content: "General";
}

.table-section:not(:last-child) .details-table tr:nth-child(2) 
td:first-child p::after
{
    content: "Games";
}

.table-section:not(:last-child) .details-table tr:nth-child(3) 
td:first-child p::after
{
    content: "Movies";
}

.table-section:not(:last-child) .details-table tr:nth-child(4) 
td:first-child p::after
{
    content: "TV series";
}

.table-section:not(:last-child) .details-table tr:nth-child(5) 
td:first-child p::after
{
    content: "Books";
}

.table-section:not(:last-child) .details-table tr:nth-child(6) 
td:first-child p::after
{
    content: "Music";
}

.details-table tr td:first-child p::after 
{
    color: var(--general-text) !important;
    letter-spacing: 0.2rem;
    text-shadow: 1px 1px 2px pink;
}

.comments-table
{
    border: hidden;
}

.comments-table td:first-child img:not(.icon),
.profile .friends .person img:not(.icon)
{
    outline: auto;
    width: 150px;
    border-radius: 20% 0px 20% 0px;
    
}

.profile .friends .person img:not(.icon)
{
    width: 100px;
}

.comments-table td:first-child img:not(.icon):hover,
.profile .friends .person img:not(.icon):hover
{
    
    box-shadow: 0 0 20px var(--highlight);
    transform:scale(110%);
}


.comments-table td 
{
    background-color: transparent;
    
}

.comment-replies, .profile .url-info
{
    border: hidden;
}

tbody, td, tr
{
    border: hidden;
    outline-color: var(--dimentio-purble);
}

footer {
    background: transparent;
    color: white;
}

a {
    color: pink;
}

.online 
{
    color:#83be9a;
    text-shadow: 0 0 10px var(--highlight);
}

.online::before
{
    content: url('https://raw.githubusercontent.com/olicauli/spacehey-template/main/assets/online.gif');
}

.online img {
    display: none;
}

.contact .inner .f-row:nth-child(1) .f-col:nth-child(1) img 
{
    display: none;
}

.contact .inner .f-row:nth-child(1) .f-col:nth-child(1) a::before 
{
    content: url("https://raw.githubusercontent.com/olicauli/spacehey-template/main/assets/dimentio.gif");
}

.contact .inner .f-row:nth-child(2) .f-col:nth-child(1) img 
{
    display: none;
}

.contact .inner .f-row:nth-child(2) .f-col:nth-child(1) a::before 
{
    content: url("https://raw.githubusercontent.com/olicauli/spacehey-template/main/assets/message.gif");
}

.contact .inner .f-row:nth-child(3) .f-col:nth-child(1) img 
{
    display: none;
}

.contact .inner .f-row:nth-child(3) .f-col:nth-child(1) a::before 
{
    content: url("https://raw.githubusercontent.com/olicauli/spacehey-template/main/assets/instantmessage.gif");
}

.contact .inner .f-row:nth-child(4) .f-col:nth-child(1) img 
{
    display: none;
}

.contact .inner .f-row:nth-child(4) .f-col:nth-child(1) a::before 
{
    content: url("https://raw.githubusercontent.com/olicauli/spacehey-template/main/assets/group.gif");
}

.contact .inner .f-row:nth-child(1) .f-col:nth-child(2) img 
{
    display: none;
}

.contact .inner .f-row:nth-child(1) .f-col:nth-child(2) a::before 
{
    content: url("https://raw.githubusercontent.com/olicauli/spacehey-template/main/assets/favourite.gif");
}

.contact .inner .f-row:nth-child(2) .f-col:nth-child(2) img 
{
    display: none;
}

.contact .inner .f-row:nth-child(2) .f-col:nth-child(2) a::before 
{
    content: url("https://raw.githubusercontent.com/olicauli/spacehey-template/main/assets/forward.gif");
}

.contact .inner .f-row:nth-child(3) .f-col:nth-child(2) img 
{
    display: none;
}

.contact .inner .f-row:nth-child(3) .f-col:nth-child(2) a::before 
{
    content: url("https://raw.githubusercontent.com/olicauli/spacehey-template/main/assets/block.gif");
}

.contact .inner .f-row:nth-child(4) .f-col:nth-child(2) img 
{
    display: none;
}

.contact .inner .f-row:nth-child(4) .f-col:nth-child(2) a::before 
{
    content: url("https://raw.githubusercontent.com/olicauli/spacehey-template/main/assets/report.gif");
}

.blog-preview p .pinned .icon 
{
    content: url("https://raw.githubusercontent.com/olicauli/spacehey-template/main/assets/favourite.gif");
    height: 1.5rem;
    width: 1.5rem;
}

.comments-table .report a img
{
    display: none;
}

.comments-table .report::before
{
    content: url("https://raw.githubusercontent.com/olicauli/spacehey-template/main/assets/block.gif");
}